page-about {

    ion-content {
        background: rgb(245, 244, 244) !important;
    }

    .bg-half {
        width: 100%;
        height: 45%;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../assets/imgs/about-bg.png) no-repeat center;
        background-size: cover;
        position: absolute;
        z-index: -1;
    }

    .page-wrap {
        width: 100%;
        margin: 30px auto 0 auto;
        padding: 10px;
    }


    .header {
        margin-left: 20px;

        h1 {
            font-family: 'bitter-bold';
            color: #fff;
            font-size: 48px;
        }
    }


    .menu {
        display: flex;
        flex-direction: column;
        align-items: center;
    
        .item {
            width: 90%;
            height: 107px;

            background: #fff;
            background-size: cover;
            border-radius: 10px;

            margin-bottom: 2%;

            display: flex;
            position: relative;

            &:active {
                background: #F2F2F2;
                
                // transition: 0.3s;

                @keyframes changesize {
                    from {
                        width: 90%;
                        height: 107px;
                    }
                    
                    to {
                        width: 92%;
                        height: 110px;  
                    }
                }

                animation-duration: 0.5s;
                animation-name: changesize;
                animation-iteration-count: infinite;
                animation-direction: alternate;
            }

            .icon {
                width: 30%;
                height: 100%;

                display: flex;
                align-items: center;
                justify-content: center;

                .icon-gra{
                    width: 67px;
                    height: 56px;
                }

                .icon-bay {
                    width: 60px;
                    height: 40px;
                }

                .icon-idio {
                    width: 78px;
                    height: 79px;
                }
            }

            .description {
                width: 70%;
                padding-right: 20px;

                h2 {
                    font-family: 'opensans-semibold';
                    color: #000;
                    font-size: 24px;
                }

                p {
                    font-family: 'sourcesans-reg';
                    color: #000;
                    font-size: 11px;
                }
            }
        }

        .blue {
            box-shadow: 0px 4px 4px rgba(5, 62, 171, 0.15);
        }

        .red {
            box-shadow: 0px 4px 4px rgba(179, 2, 2, 0.15);
        }

        .green {
            box-shadow: 0px 4px 4px rgba(30, 108, 10, 0.15);
        }
    }

    .content-wrapper {
        width: 100%;
        margin: 0 auto;
        padding: 0 20px;

        display: flex;
        flex-direction: column;
    }

    .lesson-list {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    
        .lesson-box {
            width: 322px;

            background: #fff;
            background-size: cover;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 10px;

            margin: 3%;

            display: flex;
            flex-direction: column;
            align-items: center;

            h3 {
                font-family: 'opensans-bold';
                color: #000;
                font-size: 18px;  

                background: #A2FFA0;
                // border: 1px solid #fff;
                box-sizing: border-box;
                border-radius: 3px;

                padding: 5px;
                max-width: 90%;
            }


            .lesson-title {
                display: flex;
                align-items: center;
                width: 90%;
                margin-top: 10px;

                .lesson-icon {
                    width: 35%;
                    display: flex;
                    align-items: center;

                    img {
                        width: 100%;
                        height: 73px;
                    }
                }

                .lesson-name {
                    width: 70%;
                    padding-left: 5px;

                    font-family: 'opensans-extrabold';
                    color: #000;
                    font-size: 36px;
                }
            }


            .lesson-content {
                padding: 10px;
                
                h2 {
                    font-family: 'opensans-bold';
                    color: #000;
                    font-size: 18px;  
                }


                .content-list{
                    list-style-type: none;
                    margin-top: 5px;
                    padding: 0;
    
                    display: flex;
                    flex-wrap: wrap;
    
                    li {
                        margin: 5px;
                        padding: 3px 5px; 
    
                        background: #A2FFA0;
                        // border: 1px solid #fff;
                        box-sizing: border-box;
                        border-radius: 3px;
    
                        font-family: 'sourcesans-reg';
                        color: #000;
                        font-size: 13px;

                        &:active {
                            background: rgb(212, 255, 212);
                            transition: 0.1s;         
                        }
                    }
                }

                .lesson-text {
                    font-family: 'sourcesans-reg';
                    color: #000;
                    font-size: 13px;
                }

                .text-light {
                    font-family: 'sourcesans-light';
                    color: #000;
                    font-size: 13px;
                }

                .example-text {
                    font-family: 'sourcesans-bold';
                    color: #000;
                    font-size: 16px;
                    text-align: center;
                }

                .example-italic-text {
                    font-family: 'sourcesans-semibolditalic';
                    color: #000;
                    font-size: 16px;
                    text-align: center;
                }

            }

            .table-ordi {
                width: 100%;
                display: grid;
                grid-gap: 10px;
                grid-template-columns: repeat(2, auto);
                /*   grid-template-rows: repeat; */
                /*   grid-auto-flow: column; */
            }
            
            .cell-ordi {
                background-color: rgb(246, 255, 246);
                color: #000;
                border-radius: 5px;
                padding: 5px;
                font-size: 15px;
                font-family: 'opensans-reg';
                text-align: center;
            }

            // .cell-ordi:nth-child(3n + 1) {
            //     background-color: rgb(209, 216, 255);
            // }

            .cell-ordi:nth-child(4n),  .cell-ordi:nth-child(4n + 3){
                background-color: rgb(236, 255, 235);
            }

            .thead-ordi {
                background-color: rgb(208, 255, 208);
                color: #000;
                font-family: 'sourcesans-bold';
                font-size: 18px;

                border-radius: 5px;
                border-bottom: 1px solid rgb(174, 255, 174);
            }

            .reference {
                font-size: 8px;
            }

            .copyhead {
                font-family: 'opensans-semibold';
                color: #000;
                font-size: 14px; 
                margin-top: 10px;
            }
              
        }
    }
}
