<ion-content>

    <ion-slides #slides>
  
      <ion-slide class="start-slide">
          <h1>Baybayin Quiz</h1>  
  
          <div class="menu-lesson">
  
              <div class="item-lesson" (click)="nextSlide()">
                <div class="icon-lesson">
                  <img src="../../assets/imgs/icon-quiz-start.png" alt="Start Icon">
                </div>
        
                <div class="description-lesson">
                    <h2>Press to START!</h2>
                </div>
              </div>
    
            </div>
        
         
      </ion-slide>
  
      <ion-slide *ngFor="let question of questions | slice:0:10; let i = index;">
  
        <h3 class="question-label"><span class="quiz-accent">></span> Question {{i+1}} / 10</h3>
  
        <flash-card [isFlipped]="question.flashCardFlipped">
          <div class="flash-card-front" [innerHTML]="question.flashCardFront"></div>
          <div class="flash-card-back">
            <h3 class="correct"  *ngIf="correct">{{this.showFil}}</h3>
            <p class="sub" *ngIf="correct">{{this.showEng}}</p>
            <h3 class="wrong" *ngIf="wrong">{{this.showFil}}</h3>
            <p class="sub" *ngIf="wrong">{{this.showEng}}</p>

            <h3 class="bay-font">{{question.flashCardBack}}</h3>
          </div>
        </flash-card>

        <ion-list no-lines radio-group >
  
          <ion-item *ngFor="let answer of question.answers; let i = index;" > 
  
            <!-- <ion-label class="answer-label">{{i+1}}. {{answer.answer}}</ion-label> -->
            <ion-label class="answer-label bay-font">{{answer.answer}}</ion-label>
            <ion-radio (click)="selectAnswer(answer, question)" [checked]="answer.selected" [disabled]="hasAnswered" ></ion-radio>
  
          </ion-item>
  
        </ion-list>
  
      </ion-slide>
  
      <ion-slide class="start-slide">
  
          <h1>Final Score: {{score}}</h1>

          <div class="menu-lesson">
  
            <div class="item-lesson" (click)="nextSlide()">
              <div class="icon-lesson" *ngIf="score >= 6 ">
                <img src="../../assets/imgs/icon-trophy.png" alt="End Icon">
              </div>

              <div class="icon-lesson" *ngIf="score <= 5 ">
                <img src="../../assets/imgs/icon-finish.png" alt="End Icon">
              </div>
      
              <div class="description-lesson" (click)="restartQuiz()">
                  <h2>Take Quiz Again</h2>
              </div>
            </div>
  
          </div>
  
      </ion-slide>
  
    </ion-slides>
  
  </ion-content>