<ion-content>

    <div class="skew"></div>

    <div class="page-wrap">
        <div class="logo-container">
            <img id="logo" src="../../assets/imgs/tuklaslogo.png" alt="Tuklas Logo">
        </div>

        <div class="search-container">
            <div class="search-box">
                <ion-searchbar [(ngModel)]="searchQuery" (ionInput)="search($event)" (ionChange)="search($event)"
                    debounce="1" placeholder="Search a word..."></ion-searchbar>
                <button class="btn-icon" (click)="start()" *ngIf="isAndroid()">
                    <i class="fas fa-microphone"></i>
                </button>
                <button class="btn-icon" (click)="showAlert()" (click)="startListening()" *ngIf="isIos()">
                    <i class="fas fa-microphone"></i>
                </button>
                <!-- <button class="btn-icon" full (click)="stopListening()" *ngIf="isIos()">
                    <i class="fas fa-microphone-slash"></i>
                </button> -->
            </div>

            <div *ngIf="searchQuery.length > 1" class="suggestion-box">
                <ion-list>

                    <ion-item *ngFor="let word of words" (click)="navigateToDetails(word)">
                        <h2>Filipino: {{word.wordName}}</h2>

                        <div *ngIf="word.engEq == null">
                            <h3>English: None</h3>
                        </div>
                        <div *ngIf="word.engEq != null">
                            <h3>English: {{word.engEq}}</h3>
                        </div>
                    </ion-item>

                    <div *ngIf="searchQuery">
                        <ion-item *ngIf="words.length < 1 ">
                            <h2>No Word Found</h2>
                        </ion-item>
                    </div>

                </ion-list>
            </div>
        </div>

        <div class="wotd-container">
            <div class="wotd-card" (touchend)="SwitchTab()" (click)="SwitchTab()">

                <div class="card-title"> <span class="accent">></span> Word of the Day</div>
                <div class="card-random">
                    <div class="card-word" *ngFor="let item of wordsWOTD | async">{{item.wordName}}</div>
                    <div class="card-baybayin bay-font" *ngFor="let item of wordsWOTD | async">{{item.bayEq}}</div>
                    <div class="card-pos" *ngFor="let item of wordsWOTD | async">{{item.partofspeech.filParos}} |
                        {{item.partofspeech.engParos}}</div>
                </div>
                <div class="card-footer">
                    <p>tap to view word card </p>
                    <img src="../../assets/imgs/tap.png" alt="tap">
                </div>

            </div>
        </div>
    </div>
</ion-content>