page-home {

    ion-content {
        background: #E5E6EB !important;
    }

    ion-img {
        margin-top: 30px;
        margin-bottom: 40px;
        background-color: #E5E6EB;
    }

    .card-background-page {

        ion-card {
            position: relative;
            text-align: center;
            width: 90%;
            display: block;
            margin-left: auto;
            margin-right: auto;
            margin-top: 30px;
            border-radius: 5px;
        }
    
        .card-title {
            position: absolute;
            top: 36%;
            font-size: 2.0em;
            width: 100%;
            font-weight: bold;
            color: #fff;
        }
    
        .card-subtitle {
            font-size: 1.0em;
            position: absolute;
            top: 52%;
            width: 100%;
            color: #fff;
        }
    
    }

}


