page-learn-grammar {

    ion-content {
        background: #E5E6EB !important;
    }

    .action-bar {
        display: flex;
        margin-bottom: 10px;
    }

    .btn-icon {
        background-color: transparent;
    }


}
