page-word {

    .float {
        width: 90%;
        margin: 0 auto;
        position: absolute;
        z-index: 1;
        box-shadow: rgb(77, 77, 77) 3px 3px 3px;
        border-radius: 5px;
    }

    ion-content {
        background-color: #E5E6EB !important;
    }

    ion-icon {
        font-size: 2rem;
    }

    .action-bar {
        display: flex;
        margin-bottom: 10px;
    }

    .btn-icon {
        background-color: transparent;
    }

    .line-divide {
        background-color: #E7E4E4;
        width: 80%;
        height: 3px;
        margin: auto;
    }

    .word-card {
        background-color: #fff;
        padding: 5px 20px;
        border-radius: 10px;
        box-shadow: rgb(128, 128, 128) 1px 1px 3px;

        .card-head {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
           // background-color: brown;
        }

        .word-subhead {
            color: #416AAA;
            font-size: 2rem;
        }

        .def-sh {
            margin-top: 5px;
        }

        .word-primary {
            font-family: serif;
           font-size: 4rem;
            color: #000;
           // background-color: red;
        }

        .word-secondary {
            font-family: serif;
          font-size: 3rem;
            color: #000;
           // background-color: orange;
        }

        .bay-font {
           font-size: 4rem;
            color: #000;
           // background-color: blue;
        }

        .part-of-speech {
            color: #7C98AC;
          font-size: 1.5rem;
          margin-bottom: 10px;
            //background-color: green;
        }
    }

    .word-subcard {
        background-color: #fff;
        padding: 7px;
        border-radius: 5px;
        box-shadow: rgb(128, 128, 128) 0px 2px 2px;
        margin-top: 10px;

        .def {
            text-align: center;
        }
    }
}