<ion-content padding>

  <div class="action-bar">
    <button class="btn-icon" (click)="navigateToHomePage()">
      <ion-icon name="arrow-back"></ion-icon>
    </button>
    <ion-searchbar placeholder="Search a word" [(ngModel)]="searchQuery" debounce="750" (ionInput)="search($event)"
      class="searchbarbg"></ion-searchbar>
    <button class="btn-icon">
      <ion-icon name="mic"></ion-icon>
    </button>
  </div>

  <ion-list class="float">
    <ion-item *ngFor="let word of words" (click)="navigateToDetails(word)">
      <h2>Filipino: {{word.wordName}}</h2>
      <h3>English: {{word.engEq}}</h3>
    </ion-item>
    <div *ngIf="searchQuery">
      <ion-item *ngIf="words.length < 1 ">
        <h2>No Word Found</h2>
    
      </ion-item>
    </div>
  </ion-list>

  <div class="word-card">

    <div class="card-head">
      
      <span class="word-primary" >{{wordName}} 
        <button class="btn-icon" (click)="playAudio()" ><ion-icon name="volume-up"></ion-icon></button>
      </span>
      <span class="bay-font"  >{{bayEq}}</span>
      <span class="word-secondary"  >{{engEq}}</span>
      <span class="part-of-speech" >{{parosFil}} |
        {{parosEng}}</span>
    </div>

    <div class="line-divide"></div>

    <div class="word-subcard">
      <ion-segment [(ngModel)]="def">
        <ion-segment-button value="engDef"> English </ion-segment-button>
        <ion-segment-button value="filDef"> Filipino </ion-segment-button>
      </ion-segment>

      <div [ngSwitch]="def">
        <ion-list *ngSwitchDefault>
          <h2 class="word-subhead def-sh">Definition</h2>
          <p class="def" >{{engDef}}</p>
        </ion-list>

        <ion-list *ngSwitchCase="'filDef'">
          <h2 class="word-subhead def-sh">Depinisyon</h2>
          <p class="def" >{{filDef}}</p>
        </ion-list>
      </div>
    </div>

    <h2 class="word-subhead">Example Sentences</h2>
    <ul>
      <li *ngFor="let item of sentence">{{item}}</li>      
    </ul>
    

    <h2 class="word-subhead">Synonyms</h2>
    <p>Tahanan, Tirahan</p>

    <div class="line-divide"></div>

    <div class="copyrights">
      <p>{{copyright}}</p>
    </div>

  </div>
  

  <audio #audio>
    <source  src="{{audioFile}}" type="audio/mpeg">
  </audio>

</ion-content>