page-learn-idioms {
    
    ion-content {
        // background: #E5E6EB !important;
        // background-color: #ffffff;
        // box-shadow: 10px 10px 14px -6px rgba(244,247,245,1);
    }

    .action-bar {
        display: flex;
        margin-bottom: 20px;
    }

    .btn-icon {
        background-color: transparent;
    }

    .bg-color{
        background-color: #FFD15C;
        box-shadow: 10px 10px 14px -6px rgba(255,209,92,0.28);
        margin-bottom: 5px;
        border-radius: 10px;
        font-weight: bold;
        color: #ffffff;
        text-transform: uppercase;  
    }
    
    .div-color{
        background-color: #ffffff;
        opacity: 0.8;
        color: #000000;
        font-weight: bold;  
    }

}
