<ion-content>
  
    <div class="yellow-half"></div>

    <div class="action-bar">
      <button class="btn-icon" (click)="navigateToLearnPage()">
        <ion-icon name="arrow-back" class="action-icon"></ion-icon>
      </button>
    </div>

    <div class="divide"></div>

  <ion-item-group>
    <ion-item-divider class="div-color">A</ion-item-divider>
    <ion-item class="bg-color"*ngFor="let item of idioms1 | async" (click)="navigateToDetails(item)">{{ item.idiomName }} </ion-item>
    
  </ion-item-group>

  <ion-item-group>
    <ion-item-divider class="div-color">B</ion-item-divider>
    <ion-item class="bg-color" *ngFor="let item of idioms2 | async" (click)="navigateToDetails(item)">{{ item.idiomName }}</ion-item>
  </ion-item-group>

  <ion-item-group>
    <ion-item-divider class="div-color">K</ion-item-divider>
    <ion-item class="bg-color" *ngFor="let item of idioms11 | async" (click)="navigateToDetails(item)">{{
      item.idiomName}}</ion-item>
  </ion-item-group>
  
  <ion-item-group>
    <ion-item-divider class="div-color">D</ion-item-divider>
    <ion-item class="bg-color" *ngFor="let item of idioms4 | async" (click)="navigateToDetails(item)">{{ item.idiomName }}</ion-item>
  </ion-item-group>

  <!-- <ion-item-group>
    <ion-item-divider class="div-color">E</ion-item-divider>
    <ion-item class="bg-color" *ngFor="let item of idioms5 | async" (click)="navigateToDetails(item)">{{ item.idiomName }}</ion-item>
  </ion-item-group> -->

  <!-- <ion-item-group>
    <ion-item-divider class="div-color">F</ion-item-divider>
    <ion-item class="bg-color" *ngFor="let item of idioms6 | async" (click)="navigateToDetails(item)">{{ item.idiomName }}</ion-item>
  </ion-item-group>

  <ion-item-group>
    <ion-item-divider class="div-color">G</ion-item-divider>
    <ion-item class="bg-color" *ngFor="let item of idioms7 | async" (click)="navigateToDetails(item)">{{ item.idiomName }}</ion-item>
  </ion-item-group> -->

  <ion-item-group>
    <ion-item-divider class="div-color">H</ion-item-divider>
    <ion-item class="bg-color" *ngFor="let item of idioms8 | async" (click)="navigateToDetails(item)">{{ item.idiomName }}</ion-item>
  </ion-item-group>

  <ion-item-group>
    <ion-item-divider class="div-color">I</ion-item-divider>
    <ion-item class="bg-color" *ngFor="let item of idioms9 | async" (click)="navigateToDetails(item)">{{ item.idiomName }}</ion-item>
  </ion-item-group>

  <!-- <ion-item-group>
    <ion-item-divider class="div-color">J</ion-item-divider>
    <ion-item class="bg-color" *ngFor="let item of idioms10 | async" (click)="navigateToDetails(item)">{{ item.idiomName }}</ion-item>
  </ion-item-group> -->

  <!-- <ion-item-group>
    <ion-item-divider class="div-color">K</ion-item-divider>
    <ion-item class="bg-color" *ngFor="let item of idioms11 | async" (click)="navigateToDetails(item)">{{ item.idiomNamee}}</ion-item>
  </ion-item-group> -->
  
  <ion-item-group>
    <ion-item-divider class="div-color">L</ion-item-divider>
    <ion-item class="bg-color" *ngFor="let item of idioms12 | async" (click)="navigateToDetails(item)">{{ item.idiomName }}</ion-item>
  </ion-item-group>

  <ion-item-group>
    <ion-item-divider class="div-color">M</ion-item-divider>
    <ion-item class="bg-color" *ngFor="let item of idioms13 | async" (click)="navigateToDetails(item)">{{ item.idiomName }}</ion-item>
  </ion-item-group>

  <ion-item-group>
    <ion-item-divider class="div-color">N</ion-item-divider>
    <ion-item class="bg-color" *ngFor="let item of idioms14 | async" (click)="navigateToDetails(item)">{{ item.idiomName
      }}</ion-item>
  </ion-item-group>

  <!-- <ion-item-group>
    <ion-item-divider class="div-color">O</ion-item-divider>
    <ion-item class="bg-color" *ngFor="let item of idioms15 | async" (click)="navigateToDetails(item)">{{ item.idiomName
      }}</ion-item>
  </ion-item-group> -->

  <ion-item-group>
    <ion-item-divider class="div-color">P</ion-item-divider>
    <ion-item class="bg-color" *ngFor="let item of idioms16 | async" (click)="navigateToDetails(item)">{{ item.idiomName
      }}</ion-item>
  </ion-item-group>

  <!-- <ion-item-group>
    <ion-item-divider class="div-color">Q</ion-item-divider>
    <ion-item class="bg-color" *ngFor="let item of idioms17 | async" (click)="navigateToDetails(item)">{{ item.idiomName
      }}</ion-item>
  </ion-item-group> -->

  <!-- <ion-item-group>
    <ion-item-divider class="div-color">R</ion-item-divider>
    <ion-item class="bg-color" *ngFor="let item of idioms18 | async" (click)="navigateToDetails(item)">{{ item.idiomName
      }}</ion-item>
  </ion-item-group> -->
  
  <ion-item-group>
    <ion-item-divider class="div-color">S</ion-item-divider>
    <ion-item class="bg-color" *ngFor="let item of idioms19 | async" (click)="navigateToDetails(item)">{{ item.idiomName
      }}</ion-item>
  </ion-item-group>

  <ion-item-group>
    <ion-item-divider class="div-color">T</ion-item-divider>
    <ion-item class="bg-color" *ngFor="let item of idioms20 | async" (click)="navigateToDetails(item)">{{ item.idiomName
      }}</ion-item>
  </ion-item-group>

  <ion-item-group>
    <ion-item-divider class="div-color">U</ion-item-divider>
    <ion-item class="bg-color" *ngFor="let item of idioms21 | async" (click)="navigateToDetails(item)">{{ item.idiomName
      }}</ion-item>
  </ion-item-group>

  <!-- <ion-item-group>
    <ion-item-divider class="div-color">V</ion-item-divider>
    <ion-item class="bg-color" *ngFor="let item of idioms22 | async" (click)="navigateToDetails(item)">{{ item.idiomName
      }}</ion-item>
  </ion-item-group> -->

  <ion-item-group>
    <ion-item-divider class="div-color">W</ion-item-divider>
    <ion-item class="bg-color" *ngFor="let item of idioms23 | async" (click)="navigateToDetails(item)">{{ item.idiomName
      }}</ion-item>
  </ion-item-group>

  <!-- <ion-item-group>
    <ion-item-divider class="div-color">X</ion-item-divider>
    <ion-item class="bg-color" *ngFor="let item of idioms24 | async" (click)="navigateToDetails(item)">{{ item.idiomName
      }}</ion-item>
  </ion-item-group>

  <ion-item-group>
    <ion-item-divider class="div-color">Y</ion-item-divider>
    <ion-item class="bg-color" *ngFor="let item of idioms25 | async" (click)="navigateToDetails(item)">{{ item.idiomName
      }}</ion-item>
  </ion-item-group> -->

  <!-- <ion-item-group>
    <ion-item-divider class="div-color">Z</ion-item-divider>
    <ion-item class="bg-color" *ngFor="let item of idioms26 | async" (click)="navigateToDetails(item)">{{ item.idiomName
      }}</ion-item>
  </ion-item-group> -->
</ion-content>